.headerQs{
    padding: 0;
    background-color: var(--bg-dark-orange);
    min-height: 873px;
    max-height: 100vh;
}
.imgTest{
    width: 43.4625em;
}

@media screen and (max-width: 992px) {
    /* .imgTest{
        width: 80%;
    } */
}