.headerQs{
    padding: 0;
    background-color: var(--bg-dark-orange);
    /* height: 40rem !important; */
}
.imgTest{
    width: 35rem;
}
.h1Qs{
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    color: var(--text-green);
    font-size: 3rem;
    
}
.textoQs{
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    color: var(--text-green);
    
}