.nav-link {
  position: relative;
  color: white;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  background-color: white;
}

.navbar, .offcanvas{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.35) 0.06%, rgba(255, 255, 255, 0.22) 58.7%, rgba(255, 255, 255, 0.20) 65.15%, rgba(255, 255, 255, 0.20) 67.39%, rgba(255, 255, 255, 0.10) 99.44%) !important;
  backdrop-filter: blur(14px) !important;
}

.custum-btn:hover {
  background-color: #D9E2E2;
  color: #01352C;
}

.custum-btn:active {
  background-color: #01352C !important;
  color: #fff !important;
  border-color: #01352C !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:hover {
  background-color: #D9E2E2;
}

.navbar-toggler:active {
  background-color: #01352C;
  border-color: #01352C !important;
}

.navbar {
  position: relative;
  z-index: 3; /* Ensure the navbar is above the backdrop */
}

.btn-close-white {
  color: white;
}

@media screen and (max-width: 767px)  {
  .nav-link {
    font-size: 1.55rem !important;
  }
}

@media (min-width:768px) and (max-width: 880px ) {
  .nav-link {
    font-size: 1.10rem !important;
  }
  .btn {
    font-size: 1rem;
  }
}
