:root{
  --bg-normal: #fbdfc7;
  --bg-light-orange: #efbb8e;
  --bg-dark-orange: #cb653f;
  --bg-light-green: #d9e2e2;
  --bg-dark-green: #025949;
  --bg-footer: #c29440;
  --bg-white: #ffffff;
  --text-white: #ffffff;
  --text-green: #01352c;
}

/*colors*/
.bg-default {
  background-color: #fbdfc7;
}
.bg-light-orange {
  background-color: #efbb8e;
}
.bg-dark-orange {
  background-color: #cb653f;
}
.bg-light-green {
  background-color: #d9e2e2;
}
.bg-dark-green {
  background-color: #025949;
}
.bg-footer {
  background-color: #c29440;
}
.text-green {
  color: #01352c;
}
.text-white{
  color: white;
}

/*fonts*/
.font-regular{
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}
.font-medium{
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
}
.font-bold{
  font-family: "Urbanist", sans-serif;
  font-weight: 600 !important;
}
.font-bolder{
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
}