.carousel-control-prev,
.carousel-control-next {
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: calc(50% - 25px);
}

.carousel-control-prev {
  left: 5%;
}

.carousel-control-next {
  right: 5%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: var(--bg-light-green);
}

.carousel-control-prev:active,
.carousel-control-next:active {
  background-color: var(--bg-dark-green);
  transform: scale(0.95);
}

.carousel-item img {
  border-radius: 16px; /* Ajuste o valor conforme necessário */
}